*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --main-background: #bbe6ff;
    --text-color: #794e4e;
    --nav-background: #caffb2;
}

body{
    background: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

nav{
    background: var(--nav-background);
    width: fit-content;
    padding: 2.5rem;
    border-radius: 2.5rem;
}

ul, li{
    list-style: none;
}
